<!-- DELETE -->

<h1>Links</h1>
<ul>
  <li><a href="https://html-online.com/editor/" target="_blank">Online HTML Editor</a></li>
  <li><a href="https://htmlcolorcodes.com/" target="_blank">HTML Color Codes</a></li>
  
  <li><a href="https://cloud.oracle.com/en_US/iaas/training" target="_blank">[OCI] OCI_Training</a></li>
  <li><a href="https://ocitraining.qloudable.com/" target="_blank">[OCI] OCI_Labs</a></li>
  <li><a href="https://docs.cloud.oracle.com/" target="_blank">[OCI] OCI Document</a></li>
  <!--
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li>
  -->

</ul>
